*{
    margin:0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    height: 97vh;
    overflow: hidden;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
#Img-Logo{
    position:relative;
    grid-row: span 2;
}
#Img-Logo .Image-Background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#contents-box{
    display: flex;
    grid-column: span 2;
    grid-row: span 2;
    padding:min(20%,50px);
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}
#Img-Logo .Logos{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: min(50%,20vh);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    margin: auto; 
    background-color: rgba(24,24,24,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem

}
.footer{
    grid-column: span 3;
    text-align: center;
}
#Img-Logo .Logos .Logo-name,.odin-logo{
    width: min(50%,100px);
    height: min(50vh,100px)
}

 #Img-Logo .Logos .Logo-name{
    font-family: 'Norse-Bold',sans-serif;
    font-size:calc(5vw + 5vh);
    color: azure;
}
/* #Img-Logo .Logos .odin-logo{
    width: 60%;
    height: min(50%,100px)
}
 */
 .content-text{
    font-weight: 700;
 }
 .form-body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    
 }
fieldset {
    padding: 10px 30px;
    height: max(50%,35vh);
    margin:2rem 0;
}
legend {
    color: white;
    background: black;
    padding: 5px 10px;
}
.form-elements{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.form-elements p{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}
input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
  }

  input:hover, input:focus {
    background-color: #eee;
  }

  input + span {
    position: relative;
  }

  input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -26px;
    left: -70px;
  }

  input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
  }

  input:invalid {
    border: 2px solid red;
  }

  input:invalid + span::before {
    content: '✖';
    color: red;
  }

  input:valid + span::before {
    content: '✓';
    color: green;
  }

.btn{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    align-self: flex-start;
    width: clamp(200px,30%,400px);
    height: clamp(75px,15%,200px);
    border-radius: 1rem;
    font-size: 1.20rem;
    
}