*{
    margin:0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}
body{
    display: grid;
    height: 97vh;
    overflow: hidden;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
#Img-Logo{
    position:relative;
    grid-row: span 2;
}
#Img-Logo .Image-Background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#contents-box{
    display: flex;
    grid-column: span 2;
    grid-row: span 2;
    padding:min(20%,50px);
}
#Img-Logo .Logos{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: min(50%,20vh);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    margin: auto; 
    background-color: rgba(24,24,24,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem

}
.footer{
    grid-column: span 3;
    text-align: center;
}
#Img-Logo .Logos .Logo-name,.odin-logo{
    width: min(50%,100px);
    height: min(50vh,100px)
}

 #Img-Logo .Logos .Logo-name{
    font-family: 'Norse-Bold',sans-serif;
    font-size: 6rem;
    color: azure;
}
/* #Img-Logo .Logos .odin-logo{
    width: 60%;
    height: min(50%,100px)
}
 */
 .form-body{
    
    display: grid;
    justify-content: stretch;
    align-items: center;
    
 }
fieldset {
    padding: 10px 30px;
}
legend {
    color: white;
    background: black;
    padding: 5px 10px;
}